<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @game.player %>
</p>

<p>
  <b>Map:</b>
  <%= @game.map %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
