<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player %><br />
    <%= f.text_field :player %>
  </div>
  <div class="field">
    <%= f.label :unitNumber %><br />
    <%= f.text_field :unitNumber %>
  </div>
  <div class="field">
    <%= f.label :health %><br />
    <%= f.text_field :health %>
  </div>
  <div class="field">
    <%= f.label :kills %><br />
    <%= f.text_field :kills %>
  </div>
  <div class="field">
    <%= f.label :species %><br />
    <%= f.text_field :species %>
  </div>
  <div class="field">
    <%= f.label :weapon %><br />
    <%= f.text_field :weapon %>
  </div>
  <div class="field">
    <%= f.label :armour %><br />
    <%= f.text_field :armour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
