<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @unit.player %>
</p>

<p>
  <b>Unit Number:</b>
  <%= @unit.unitNumber %>
</p>

<p>
  <b>Health:</b>
  <%= @unit.health %>
</p>

<p>
  <b>Kills:</b>
  <%= @unit.kills %>
</p>

<p>
  <b>Unit Species:</b>
  <%= @unit.species %>
</p>

<p>
  <b>Weapon:</b>
  <%= @unit.weapon %>
</p>

<p>
  <b>Armour:</b>
  <%= @unit.armour %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
